<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Driving School Management System">
    <meta name="author" content="Simcy Creative">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url('') }}uploads/app/{{ env('APP_ICON'); }}">
    <title>Courses | Landa Driving School Management System</title>

    <!-- Material design icons -->
    <link href="{{ url('') }}assets/fonts/mdi/css/materialdesignicons.min.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="{{ url('') }}assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Simcify CSS -->
    <link href="{{ url('') }}assets/css/simcify.min.css" rel="stylesheet">

    <!-- Landa CSS -->
    <link href="{{ url('') }}assets/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- sidebar -->
    @include("includes/sidebar")

    <!-- header -->
    @include("includes/header")

    <!-- main content -->
    <div class="main-content">
        <div class="page-header">
            @if ( $user->role != "student" )
            <button type="button" class="btn btn-primary btn-icon pull-right ml-5" data-toggle="modal" data-target="#create"><i class=" mdi mdi-plus-circle-outline"></i> Cursus toevoegen </button>
            @endif
            <h3>Cursussen</h3>
            <p>Beheer cursussen die op uw school worden aangeboden. </p>
        </div>


        <!-- page content -->
        <div class="row">
            @if(!empty($courses))
            @foreach($courses as $course)
            <!-- course -->
            <div class="col-md-4">
                <div class="card">
                    <div class="course">
                        <div class="course-image">
                            <img src="{{ url('') }}uploads/courses/{{ $course->image }}" class="img-responsive">
                        </div>
                        <div class="course-info">
                            <div class="course-info-basic">
                                <span class="badge badge-dark pull-right" data-toggle="tooltip" data-placement="top" title="{{ $course->students }} Student(s)"><i class="menu-icon mdi mdi-account-multiple-outline"></i> {{ $course->students }}</span>
                                <a href="{{ url('Course@preview',['courseid'=>$course->id]) }}"><h5>{{$course->name}}</h5></a>
                                <p><strong>Classes: </strong>{{$course->theory_classes}} Theorie <span>•</span> {{$course->practical_classes}} Praktisch <span>•</span> {{$course->online}} Online <span>•</span> {{$course->exams }} Examen(s)</p>
                            </div>
                            <div class="course-info-other">
                                <h5 class="pull-right">{{ money($course->price) }}</h5>
                                <span class="badge badge-primary"><i class="menu-icon mdi mdi-clock-fast"></i> {{$course->duration}} {{$course->period}}</span>
                            </div>
                            <div class="course-info-more">

                                <div class="dropdown pull-right">
                                        <span class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="mdi mdi-dots-horizontal"></i> </span>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                          <li role="presentation"><a role="menuitem" href="{{ url('Course@preview',['courseid'=>$course->id]) }}"> <i class="mdi mdi-eye"></i> Meer zien</a></li>
                                          @if ( $user->role != "student" )
                                          <li role="presentation"><a role="menuitem" href="{{url('Schedule@get')}}?filter=course&filterid={{ $course->id }}"> <i class="mdi mdi-calendar-text"></i> Agenda</a></li>
                                          <li role="presentation"><a role="menuitem" class="fetch-display-click" data="courseid:{{ $course->id }}|csrf-token:{{ csrf_token() }}" url="<?=url('Course@updateview');?>" holder=".update-holder" modal="#update" href=""> <i class="mdi mdi-pencil"></i> Bewerken</a></li>
                                          <li role="presentation"><a class="send-to-server-click" data="courseid:{{ $course->id }}|csrf-token:{{ csrf_token() }}" url="{{ url('Course@delete') }}" warning-title="Weet je het zeker?" warning-message="De cursus en alle informatie zullen verwijderd worden." warning-button="Doorgaan" loader="true"><i class="mdi mdi-delete"></i>Verwijderen</a></li>
                                          @endif
                                        </ul>
                                </div>
                                <div class="course-instructors">
                                    @if (!empty($course->instructors))
                                    @foreach ($course->instructors as $instructor)
                                    @if( !empty($instructor->avatar) )
                                    <img src="{{ url('') }}uploads/avatar/{{ $instructor->avatar }}" data-toggle="tooltip" data-placement="top" title="Instructor {{ $instructor->fname }} {{ $instructor->lname }}" class="img-circle">
                                    @else
                                    <img src="{{ url('') }}assets/images/avatar.png" data-toggle="tooltip" data-placement="top" title="Instructor {{ $instructor->fname }} {{ $instructor->lname }}" class="user-avatar">
                                    @endif
                                    @endforeach
                                    @endif
                                    <div class="more-instructors" data-toggle="tooltip" data-placement="top" title="{{ count($course->instructors) }} instructor(s)">{{ count($course->instructors) }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @endforeach
            @else
                <div class="col-md-12">
                    <div class="empty">
                        <i class="mdi mdi-alert-circle-outline"></i>
                        <h3>It's empty here!</h3>
                    </div>
                </div>
            @endif
        </div>
    </div>

    <!-- footer -->
    @include("includes/footer")



<!-- modals -->
<div class="modal right fade" id="create" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="mdi mdi-close-circle-outline"></i></span></button>
                    <h4 class="modal-title" id="myModalLabel2">Cursus toevoegen</h4>
                </div>

                <div class="modal-body">
                    <form class="simcy-form" action="{{ url('Course@create') }}"  data-parsley-validate="" method="POST" loader="true">
                        <p>Maak een nieuwe cursus.</p>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                              <label>Omslagfoto</label>
                              <input type="file" name="image" class="croppie" placeholder="Omslagfoto" crop-width="400" crop-height="190" accept="image/*" required="">
                              <input type="hidden" name="csrf-token" value="{{csrf_token()}}">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                            <label>Cursus naam</label>
                            <input type="text" name="name" class="form-control" placeholder="Cursus naam" required="">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                            <label>Prijs ({{ currency() }})</label>
                            <input type="number" name="price" class="form-control" placeholder="Prijs" required="">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-6">
                              <label>Looptijd</label>
                              <input type="number" name="duration" class="form-control" placeholder="Looptijd" required="">
                          </div>
                          <div class="col-md-6">
                              <label>Periode</label>
                              <select name="period" class="form-control" required="">
                                  <option value="Days">Dagen</option>
                                  <option value="Weeks">Weken</option>
                                  <option value="Months">Maanden</option>
                              </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                            <label>Nummer van praktische lessen</label>
                            <input type="number" name="practical_classes" class="form-control" placeholder="Nummer van praktische lessen" value="0">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                            <label>Nummer van theorie lessen</label>
                            <input type="number" name="theory_classes" class="form-control" placeholder="Nummer van theorie lessen" value="0">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                            <label for="email">instructeurs</label>
                            <select class="form-control select2" name="instructors[]" multiple="">
                                @foreach($instructors as $instructor)
                                <option value="{{$instructor->id}}">{{$instructor->fname}} {{$instructor->lname}}</option>
                                @endforeach
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                            <label for="email">Status</label>
                            <select class="form-control" name="status">
                                <option value="Available">Beschikbaar</option>
                                <option value="Unavailable">Niet beschikbaar</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                            <button class="btn btn-primary btn-block" type="submit">Creëer cursus</button>
                          </div>
                        </div>
                      </div>
                    </form>
                </div>

            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
    <!-- update -->
    <div class="modal right fade" id="update" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"><i class="mdi mdi-close-circle-outline"></i></span></button>
                    <h4 class="modal-title" id="myModalLabel2">Edit Course</h4>
                </div>
                <div class="update-holder"></div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div>
    <!-- end update -->



   <script src="{{ url('') }}assets/js/jquery-3.3.1.min.js"></script>
   <script src="{{ url('') }}assets/js/popper.min.js"></script>
   <script src="{{ url('') }}assets/libs/bootstrap/js/bootstrap.min.js"></script>
   <script src="{{ url('') }}assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
   <script src="{{ url('') }}assets/js/simcify.min.js"></script>
   <script src="{{ url('') }}assets/js/app.js"></script>
</body>
</html>