    <aside>
        <div class="slimscroll-menu">
            <!-- close menu -->
            <a href="" class="close-aside"><i class="mdi mdi-close-circle-outline"></i></a>

            <!-- Branding -->
            <div class="side-branding">
                <a href="{{ url('Dashboard@get') }}">
                    <img src="{{ url('') }}uploads/app/{{ env('APP_LOGO'); }}" class="img-responsive">
                </a>
            </div>
          
            <!-- navigation -->
            <ul>
                <li class="menu-label">Main</li>
                @if($user->role == 'superadmin' || $user->role == 'admin' || $user->role == 'staff')
                <li class="nav-item">
                    <a class="nav-link" href="{{url('Dashboard@get')}}">
                      <i class="menu-icon mdi mdi-speedometer"></i>
                      <span class="menu-title">Controle paneel</span>
                    </a>
                </li>
                @endif
                <li class="nav-item">
                    <a class="nav-link" href="{{url('Schedule@get')}}">
                      <i class="menu-icon mdi mdi-calendar-text"></i>
                      <span class="menu-title">Agenda</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url('Notification@get')}}">
                      <i class="menu-icon mdi mdi-bell-outline"></i>
                      <span class="menu-title">Meldingen</span>
                    </a>
                </li>
                @if($user->role == 'student')
                <li class="nav-item">
                    <a class="nav-link" href="{{url('Course@get')}}">
                      <i class="menu-icon mdi mdi-seal"></i>
                      <span class="menu-title">Mijn Curseses</span>
                    </a>
                </li>
                @endif
                @if($user->role == 'superadmin' || $user->role == 'admin' || $user->role == 'staff')
                <li class="nav-item">
                    <a class="nav-link" href="{{url('Student@get')}}">
                      <i class="menu-icon mdi mdi-account-convert"></i>
                      <span class="menu-title">Studenten</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url('Instructor@get')}}">
                      <i class="menu-icon mdi mdi-account-multiple-outline"></i>
                      <span class="menu-title">Instructeurs</span>
                    </a>
                </li>
                
                <li class="menu-label">School</li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url('Fleet@get')}}">
                      <i class="menu-icon mdi mdi-car-connected"></i>
                      <span class="menu-title">School auto's</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url('Branch@get')}}">
                      <i class="menu-icon  mdi mdi-access-point-network"></i>
                      <span class="menu-title">Filiaal</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url('Invoice@get')}}">
                      <i class="menu-icon  mdi mdi-file-chart"></i>
                      <span class="menu-title">Facturen</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url('Communication@get')}}">
                      <i class="menu-icon  mdi mdi-message-text-outline"></i>
                      <span class="menu-title">Communicatie</span>
                    </a>
                </li>
                @endif
                @if($user->role == 'superadmin' || $user->role == 'admin')
                <li class="nav-item">
                    <a class="nav-link" href="{{url('Staff@get')}}">
                      <i class="menu-icon  mdi mdi-account-edit"></i>
                      <span class="menu-title">Personeel</span>
                    </a>
                </li>
                @endif

                <li class="menu-label">Account</li>
                @if($user->role == 'superadmin' || $user->role == 'admin')
                <li class="nav-item">
                    <a class="nav-link" href="{{url('Course@get')}}">
                      <i class="menu-icon mdi mdi-seal"></i>
                      <span class="menu-title">Cursussen</span>
                    </a>
                </li>
                @endif
                @if(env('SHOW_SCHOOLS_MENU') == 'Enabled' && $user->role == 'superadmin')
                <li class="nav-item">
                    <a class="nav-link" href="{{url('School@get')}}">
                      <i class="menu-icon mdi mdi-blur-radial"></i>
                      <span class="menu-title">Scholen</span>
                    </a>
                </li>
                @endid
                <li class="nav-item">
                    <a class="nav-link" href="{{url('Settings@get')}}">
                      <i class="menu-icon mdi mdi-settings"></i>
                      <span class="menu-title">Instellingen</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>